
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fa;
    color: #262626;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #065a82;
    color: white;
    padding: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}


main {
    flex: 1;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}


section {
    background-color: white;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #cccccc;
}


.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-item {
    background-color: #21B0A7;
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #065a82;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


footer {
    background-color: #065a82;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: auto;
}

.highlight {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    main {
        padding: 24px;
    }

    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}